<!DOCTYPE html>
<html lang="en">
<head>
    <meta cahrset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>𝐁𝐨𝐨𝐤 𝐓𝐢𝐜𝐤𝐞𝐭😊</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h2>𝐁𝐨𝐨𝐤 𝐲𝐨𝐮𝐫 𝐭𝐢𝐜𝐤𝐞𝐭💫</h2>

        <form method="POST">
            <input 
               type="text"
               name="passenger_name"
               placeholder="Passenger Name"
               required>
            <input
               type="text"
               name="departure_city"
               placeholder="Departure City"
               required>
            <input
               type="text"
               name="destination_city"
               placeholder="Destination City"
               required>
            <input
               type="date"
               name="travel_date"
               required>
            <input 
               type="number"
               name="seats"
               placeholder="number of seats"
               required>

            <button type="submit">
                𝐁𝐨𝐨𝐤 𝐍𝐨𝐰!
            </button>
        </form>
        <br>
        <a href="/">𝐁𝐚𝐜𝐤 𝐇𝐨𝐦𝐞😊</a>
    </div>
</body>
</html>


