<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Ticket System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>𝐁𝐮𝐬 𝐭𝐢𝐜𝐤𝐞𝐭 𝐬𝐲𝐬𝐭𝐞𝐦</h1>
        <p>
           🚌𝐖𝐞𝐥𝐜𝐨𝐦𝐞 𝐭𝐨 𝐛𝐮𝐬 𝐭𝐢𝐜𝐤𝐞𝐭 𝐦𝐚𝐧𝐚𝐠𝐞𝐦𝐞𝐧𝐭 𝐬𝐲𝐬𝐭𝐞𝐦 🚌
        </p>
        <div class="button-group">
            <a href="/booking">𝐁𝐨𝐨𝐤 𝐓𝐢𝐜𝐤𝐞𝐭</a>
            <a href="/admin">𝐀𝐝𝐦𝐢𝐧 𝐃𝐚𝐬𝐡𝐛𝐨𝐚𝐫𝐝👾</a>
        
        </div>
    </div>
</body>
</html>